.sidenav-container {
  min-height: 100vh;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.active {
  background-color: rgba($color: #000000, $alpha: 0.04);
  color: #1264a3;
}
.base-container {
  height: 100%;
  padding: 24px;
}
