<form fxLayout="column" fxLayoutGap="16px" [formGroup]="createInvoice">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name" />
    <mat-error *ngIf="createInvoice.get('name')?.hasError('required')"
      >Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input type="tel" matInput formControlName="pNumber" />
    <mat-error *ngIf="createInvoice.get('pNumber')?.hasError('required')"
      >Phone Number is required
    </mat-error>
    <mat-error *ngIf="createInvoice.get('pNumber')?.hasError('pattern')"
      >Please enter a valid phone number</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" />
    <mat-error *ngIf="createInvoice.get('email')?.hasError('required')"
      >Email is required
    </mat-error>
    <mat-error *ngIf="createInvoice.get('email')?.hasError('email')"
      >Please enter a valid e-mail address</mat-error
    >
  </mat-form-field>

  <button
    fxFlexAlign="start"
    type="button"
    mat-raised-button
    color="accent"
    (click)="uploadFile.click()"
  >
    Invoice Image *
  </button>

  <input
    #uploadFile
    id="uploadFile"
    type="file"
    accept="image/*"
    formControlName="invoiceImg"
    (change)="onFileChange($event)"
    hidden
  />
  <app-file-upload-preview
    [imgSrc]="imgSrc"
    *ngIf="imgSrc"
    (removeItem)="removeImg()"
  ></app-file-upload-preview>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="createNewInvoice()"
    [disabled]="!createInvoice.valid"
  >
    Save
  </button>
</form>
