<div class="base-page">
  <p>new-product-form works!</p>
  <form fxLayout="column" fxLayoutGap="2%" [formGroup]="createInvoice">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" />
      <mat-error
        *ngIf="
          !createInvoice.controls['name'].valid &&
          createInvoice.controls['name'].touched
        "
        >Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input type="number" matInput formControlName="pNumber" />
      <mat-error
        *ngIf="
          !createInvoice.controls['pnumber'].valid &&
          createInvoice.controls['pnumber'].touched
        "
        >Phone Number is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Invoice</mat-label>
      <input
        matInput
        type="image"
        accept="image/*"
        formControlName="invoiceImg"
      />
      <mat-error
        *ngIf="
          !createInvoice.controls['invoiceImg'].valid &&
          createInvoice.controls['invoiceImg'].touched
        "
      >
        Image Link is required
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      (click)="createNewProduct()"
      [disabled]="!createInvoice.valid"
    >
      Save
    </button>
  </form>
</div>
